@tailwind base;
@tailwind components;
@tailwind utilities;

.dev {
  border: 2px solid red !important;
}

.dev2 {
  border: 2px solid blue !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .cursor-big,
  .cursor-big * {
    cursor: url("https://cdn.userway.org/widgetapp/images/arrow_w.svg"), auto !important;
  }

  .magnification {
    zoom: 1.3 !important;
  }

  .loader {
    border: 4px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .accessibility-1xl * {
    font-weight: 200 !important;
  }

  .accessibility-2xl * {
    font-weight: 300 !important;
  }

  .accessibility-3xl * {
    font-weight: 400 !important;
  }

  .accessibility-5xl * {
    font-weight: 600 !important;
  }

  .accessibility-6xl * {
    font-weight: 700 !important;
  }

  .accessibility-7xl * {
    font-weight: 800 !important;
  }

  .highlighted {
    background-color: yellow;
    color: black;
    transition: background-color 0.3s ease-in-out;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* google translate */
.goog-te-gadget {
  margin: 16px;
}

#google_translate_element .goog-te-gadget .goog-te-combo {
  margin: 0;
  cursor: pointer;
  width: 100%;
  height: 44px;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #e4e4e7;
  font-weight: 500;
  font-size: 14px;
}

/* events calendar */

.fc-day-today {
  background-color: #dee9e7 !important;
  border-bottom: 2px solid #f06143 !important;
}

.fc .fc-daygrid-event {
  border-radius: 8px !important;
  background-color: #fdb3a4 !important;
  color: #2b2b2b !important;
  text-align: center !important;
  border: none !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
.fc .fc-highlight {
  background-color: #f5f8f7 !important;
}
.fc .fc-button-primary {
  height: 40px !important;
  border-radius: 8px !important;
  background-color: white !important;
  color: #454545 !important;
  border: none !important;
}

.fc-toolbar {
  background-color: #f5f8f7 !important;
  padding: 8px !important;
  border: 1px solid #dee9e7 !important;
  border-radius: 12px !important;
}

.fc .fc-daygrid-day-top {
  justify-content: center !important;
}
.fc .fc-button-group {
  column-gap: 12px;
}

.fc-button-group button[aria-pressed="true"] {
  box-shadow: none !important;
  background-color: #f06143 !important;
  color: white !important;
}

.fc-button-group button:focus {
  box-shadow: none !important;
  background-color: #f06143 !important;
  color: white !important;
}

.fc-daygrid-day-events {
  display: flex !important;
  flex-direction: column !important;
  gap: 6px !important;
}

.fc-daygrid-event-harness {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .fc-daygrid-day-events {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .fc-daygrid-event-harness {
    width: 6px !important;
    height: 6px !important;
    background-color: #f06143 !important;
    border-radius: 15px !important;
  }
  .fc-header-toolbar.fc-toolbar {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    row-gap: 12px !important;
  }

  .fc-header-toolbar.fc-toolbar div:nth-child(3) {
    grid-column: span 2 !important;
  }
  .fc-header-toolbar.fc-toolbar div:nth-child(2) {
    text-align: right !important;
  }
  .fc-header-toolbar.fc-toolbar div:nth-child(3) {
    text-align: center !important;
  }

  .fc-header-toolbar.fc-toolbar .fc-toolbar-title {
    font-size: 1em !important;
  }
}
